.meme-img {
  height: 100px;
}

.meme-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
}

.paginate {
  display: flex;
  justify-content: center;
}

.number-link {
  list-style: none;
  padding: 10px;
  border: 1px solid black;
}

h1 {
  text-align: center;
}